{% load crispy_forms_tags %}

<form action="{% url 'search' %}">
    <!-- Form Row 1 -->
    <div class="form-row">
        <div class="col-md-4 mb-3">
            {{ form.keywords|as_crispy_field }}
        </div>

        <div class="col-md-4 mb-3">
            {{ form.city|as_crispy_field }}
        </div>

        <div class="col-md-4 mb-3">
            {{ form.states|as_crispy_field }}
        </div>
    </div>
    <!-- Form Row 2 -->
    <div class="form-row">
        <div class="col-md-6 mb-3">
            {{ form.bedrooms|as_crispy_field }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form.prices|as_crispy_field }}
        </div>
    </div>
    <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
</form>
